/* Generics */
* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
}


body {
    background-color: #808080;
    margin: 0;
}

.container {
    line-height: 100px;
    height: 100px;
    background-color: #ffffff;
}

/* header */
.logo {
    width: 55px;
    margin-left: 400px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}