/* Generics */
* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
}


body {
    background-color:#DDE0E4 ;
    margin: 0;
}

.container {
    line-height: 100px;
    height: 100px;
    background-color: #ffffff;
}

/* header */
.logo {
    width: 55px;
    margin-left: 300px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}

/* main */


.main-container {
    width: 1000px;
    height: 1000px;
    background-color: #ffffff;
    margin: 50px auto;
    border-radius: 1%;
    padding-top: 20px;
}

ul {
    line-height: 50px;
}

.button-left {
    padding: 5px 7px;
    border-color: #47adf1;
    color: #ffffff;
    background-color: #47adf1;
    border-radius: 10%;
}

.button-right {
    padding: 5px 7px;
    border-color:#DDE0E4;
    color: #DDE0E4;
    background-color: #ffffff;
    border-radius: 10%;
}

.row {
    height: 45px;
    padding-right: 0;
    border-bottom: 2px solid #DDE0E4 ;
}

.text-bold {
    font-size: 25px;
    font-weight: 700;
}

.text-medium {
    font-size: 16px;
}

.check {
    color: #008000;
    border: 1px solid #008000;
}

.cross {
    color: #ff0000;
    border: 1px solid #ff0000;
}

.circle {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}
    
.sky-blue {
    background-color:#47adf1;
}

.violet {
    background-color:#9C72E4;
}

.ticket {
    color: #ffffff;
    padding: 5px;
    font-size: 12px;
    border-radius: 6%;
}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #efa53d;

}

.pink {
    background-color: #D863A0;
}

.green-variant {
    background-color: #99da01;
}







