/* Generics */
* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
}


body {
    background-color:#DDE0E4 ;
    margin: 0;
}

.container {
    line-height: 100px;
    height: 100px;
    background-color: #ffffff;
}

/* header */
.logo {
    width: 55px;
    margin-left: 300px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}

/* main */


.main-container {
    width: 1000px;
    height: 1000px;
    background-color: #ffffff;
    margin: 50px auto;
    border-radius: 1%;

    padding-top: 20px;
}

.button-left {
    padding: 5px 7px;
    border-color: #47adf1;
    color: #ffffff;
    background-color: #47adf1;
    border-radius: 10%;
}

.button-right {
    padding: 5px 7px;
    border-color:#DDE0E4;
    color: #DDE0E4;
    background-color: #ffffff;
    border-radius: 10%;
}

.row {
    height: 45px;
    padding-right: 0;
    border-bottom: 2px solid #DDE0E4 ;
}

.circle {
    width: 20px;
    height: 20px;
    color: #008000;
    border: 1px solid #008000;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}

.main-text {
    display: inline-block;
    font-size: 20px;
}
.ticket {
    display: inline-block;
    background-color:#47adf1;
    border-radius: 10%;
}

section div {
    line-height: 50px;
} 



